body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}wwwwwwwwwww

th {
    background-color: #f2f2f2;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px ;
}

.logo-image {
    width: 100px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    top: 0;
    left: 0;
}
